
.bottomMenuWrap{

   position: fixed;
   bottom:-3px;
   margin:0 auto;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index:9999;
   background-image: url(/src/assets/media/bottomMenu/bottomMenuBack.svg);
   background-position: 35% -3px;
   background-repeat: no-repeat;
   background-size: contain;

   
   .bottomMenuBoxs{

      display: flex;
      align-items: center;
      justify-content: center;
      padding-top:6px;


       .bottonMenuList{

         display: flex;
         align-items: center;
         justify-content: center;


         li{

            padding:0px 11px;
            width:calc(135px - 22px);
            height:30px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border:1px solid #5D5D5D;
            border-bottom:none;
            background-color: #28282859;
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.active{

               border: 1px solid #AEAEAEE5;
               background-color:#3F413ECC;
               backdrop-filter: blur(13px);
               -webkit-backdrop-filter: blur(13px);

            }

             span{

                color:#A5A5A5;
                font-size: $fontSize-11;
                font-weight: $fontWeight-400;
                letter-spacing: $letterSpace-2;
             }

             button{

                width: 11px;
                height: 11px;
                background-image: url(/src/assets/media/bottomMenu/closeBox.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 11px 11px;
                
             }
         }

   }

   .hiddenBottomWrap{

      position: relative;
      bottom:-1px;

      .moreBtn{

          width: 32px;
          height: 30px;
          background-color: #28282859;
          border:1px solid #5D5D5D;
          border-bottom: none;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          backdrop-filter: blur(7px);
          -webkit-backdrop-filter: blur(7px);
          background-image: url(/src/assets/media/bottomMenu/moreCircle.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 12px 12px;
          opacity: 90%;
          
      }

      .hiddenBottomMenu{

         position: absolute;
         width: 225px;
         left:0px;
         bottom:36px;
         border:1px solid #68686866;
         border-radius: 8px;
         backdrop-filter: blur(7px);
         -webkit-backdrop-filter: blur(7px);
         display:none;

         &.active{
             
            display: block;
         }

         ul{

            li{

               padding:10px 16px;
               width:calc(100% - 32px);
               display: flex;
               align-items: center;
               justify-content: space-between;
   
                span{
   
                   color:$fontColor-f;
                   font-size: $fontSize-12;
                   font-weight: $fontWeight-400;
                   letter-spacing: $letterSpace-2;
                }
   
                button{
   
                   width: 20px;
                   height: 10px;
                   background-image: url(/src/assets/media/bottomMenu/closeBox.svg);
                   background-position: center center;
                   background-repeat: no-repeat;
                   background-size: 11px 11px;
                   filter: brightness(100);
                   -webkit-filter: brightness(100);
                   
                }
            }
         }

      }

    }
   }
}
