
header{

    background-color: transparent;
    position: fixed;
    left:0;
    top:0;
    z-index:99999998;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6A6A6A4D;

    &.color-111{ background-color: $backgroundColor-1111;}
    &.color-2325{ background-color: $backgroundColor-2325;}
    

    .locationBoxs{

        height:100%;
        padding-left:98px;
        display: none;
        align-items: center;
        justify-content: center;
        transition: 800ms;

         &.display{ display: flex; }
         &.active{
            padding-left:279px;
            transition: 800ms;
         }
        p{
            color:#858585;
            font-weight: 500;
            font-size: $fontSize-16;
            padding-right:18px;
            position: relative;

            &::after{

                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                right:0px;
                top:1px;
                background-image: url(/iss/src/assets/media/header/toArrow.svg);
                -webkit-background-image: url(/iss/src/assets/media/header/toArrow.svg);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 16px 16px;
                
            }
        }

        span{

            color:$fontColor-f;
            font-size: $fontSize-16;
        }
    }

    .userInfo{

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right:0;

        /* 로그인전 박스*/
        .beforeLoginBoxs{

            height:100%;
            display: block;

            ul{ width:calc(100% - 40px);

                li{
                    a{

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-image: url(/iss/src/assets/media/header/login.svg);
                        -webkit-background-image: url(/iss/src/assets/media/header/login.svg);
                        background-repeat: no-repeat;
                        background-size: 22px 22px;
                        background-position: center center;
                        width:40px;
                        height:49px;
                        cursor: pointer;

        
                    }
                }
             }  

        }
        /* 로그인후 박스*/
        .afterLoginBoxs{

            // display:none;

            .afterLoginWrap{

                display: flex;
                align-items: center;
                justify-content: center;

            ul {

             li{

              .alarmBtns{

                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-image: url(/iss/src/assets/media/header/alarm.svg);
                -webkit-background-image: url(/iss/src/assets/media/header/alarm.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;

                &::after{

                    content: "0";
                    position: absolute;
                    top:8px;
                    right:0px;
                    width:19px;
                    height:19px;
                    border-radius: 50px;
                    background: rgb(7,99,150);
                    background-image: linear-gradient(90deg, rgba(7,99,150,1) 100%, rgba(12,166,252,1) 100%);
                    -webkit-background-image: linear-gradient(90deg, rgba(7,99,150,1) 100%, rgba(12,166,252,1) 100%);
                    font-style: normal;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:$fontColor-f;
                    font-weight: $fontWeight-400;
                    font-size: 10px;

                }
               }

               .logOutBtns{

                        background-image: url(/iss/src/assets/media/header/logout.svg);
                        -webkit-background-image: url(/iss/src/assets/media/header/logout.svg);
                        background-repeat: no-repeat;
                        background-size: 37px 37px;
                        background-position: center center;
               }
              }
            }
          }
        }
 
        /* 공통사항 */

            ul{

              border-left: 1px solid #6A6A6A4D;
              display: flex;
              align-items: center;
              justify-content: center;
              padding:0px 20px 0px;

              &.userName{

                font-weight: $fontWeight-500;
                color:$fontColor-f;
                font-size: $fontSize-14;
                display: flex;
                gap:17px;
            }

            li{

                height:100%; 

                &.loginImg{

                    background-image: url(/iss/src/assets/media/header/userImg.svg);
                    -webkit-background-image: url(/iss/src/assets/media/header/userImg.svg);
                    background-position: right center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width:29px;
                    height:29px;
                }

                p {
                    color: #D0D0D0;
                    font-size: $fontSize-14;
                    font-weight: $fontWeight-400;
                    letter-spacing: $letterSpace-2;
                    padding:17px 0px 16px;

                }

                button{

                     width:40px;
                     height:49px;
                     cursor: pointer;
                }

                
            }
            
         }
         
}
}

/* 알림팝업 */

#alaramWrappers{

    position: fixed;
    top:57px;
    right:calc(100% / 8.8);
    z-index:99999999;
    display:none;

    &.active{ display:block; }

    .alaramPopBoxs{

        width:calc(599px - 2px);
        max-width:calc(599px - 2px);
        height:412px;
        border:1px solid #686868;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        background-image: linear-gradient(#38333952 0%, #11121366 40%);
        -webkit-background-image: linear-gradient(#38333952 0%, #11121366 40%);
        box-shadow: 0px 0px 30px 0px #000000B2;
        overflow: hidden;
        transition: height 800ms;

        &.active{

           height:calc(412px * 1.6);
           transition: height 800ms;
           padding-bottom: 57px;
           
        }
        .alaramPopTitles{

            width: calc(100% - 31px);
            height: 46px;
            padding:0px 13px 0px 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(15, 152, 230,0.3);

            h3{
                font-weight: $fontWeight-400;
                color:$fontColor-f;
                font-size: $fontSize-16;
                letter-spacing: $letterSpace-2;
                display: flex;

                span{

                    background-image: url(/iss/src/assets/media/header/bell.svg);
                    -webkit-background-image: url(/iss/src/assets/media/header/bell.svg);
                    background-repeat: no-repeat;
                    background-size: 11px 12px;
                    background-position: center center;
                    display:inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right:9px;

                }
            }
            button{

                background-image: url(/iss/src/assets/media/header/close.svg);
                -webkit-background-image: url(/iss/src/assets/media/header/close.svg);
                background-repeat: no-repeat;
                background-size: 22px 22px;
                background-position: center center;
                width: 22px;
                height: 22px;

            }
        }

        .alaramPopContents{

            width: 100%;
            height:calc(100% - 46px);
            margin:0 auto;

            .alaramPopBtnBoxs{

                padding:16px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap:10px;
                border-bottom: 1px solid #6A6A6A;

                button{

                    width: 73px;
                    height: 24px;
                    border: 1px solid #4646461A;
                    border-radius: 4px;
                    background-color: #FFFFFF0D;
                    display: flex;
                    align-items: center;
                    font-weight: $fontWeight-400;
                    color:$fontColor-f;
                    font-size: $fontSize-12;
                    letter-spacing: $letterSpace-2;

                    span{

                        display:inline-block;
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 20px;
                        height: 20px;
                    }

                  &:nth-child(1){
                      span{
                        background-image: url(/iss/src/assets/media/header/check.svg);
                        -webkit-background-image: url(/iss/src/assets/media/header/check.svg);
                        background-size: 9px 6.28px;
                      }
                  }

                  &:nth-child(2){
                      span{
                        background-image: url(/iss/src/assets/media/header/delete.svg);
                        -webkit-background-image: url(/iss/src/assets/media/header/delete.svg);
                        background-size: 12px;
                      }
                  }
                }
            }

            .alaramPopDataBoxs{

                width: 100%;
                height:calc(100% - 57px);

                &.active{

                    overflow-y: scroll;


                    &::-webkit-scrollbar{ width: 2px;
                        background-color: transparent!important;}
                    &::-webkit-scrollbar-thumb{
                        height: 10px!important;
                        border-radius: 10px;
                        background-color: #D9D9D9;
                    }
                    &::-webkit-scrollbar-button:vertical:start:decrement{
                        display: block;
                        height: 25px;
                    }
                    &::-webkit-scrollbar-button:vertical:start:increment{
                        display: block;
                        height: 25px;
                    }
                    &::-webkit-scrollbar-button:vertical:end:decrement {
                        display: block;
                        height: 20px;
                    }
                    &::-moz-scrollbar{ width: 2px; background-color: transparent!important;}
                    &::-moz-scrollbar-thumb{
                        height: 10px!important;
                        border-radius: 10px;
                        background-color: #D9D9D9;
                    }
                    &::-moz-scrollbar-button:vertical:start:decrement{
                        display: block;
                        height: 25px;
                    }
                    &::-moz-scrollbar-button:vertical:start:increment{
                        display: block;
                        height: 25px;
                    }
                    &::-moz-scrollbar-button:vertical:end:decrement {
                        display: block;
                        height: 20px;
                    }
                }
                
                ul{

                    padding:20px 15px 10.5px;
                    margin:0 auto;
                    border-bottom: 1px solid #6A6A6A;

                    h3{
                        font-weight: $fontWeight-400;
                        color:$fontColor-d1;
                        font-size: $fontSize-13;
                        letter-spacing: $letterSpace-2;
                        padding-bottom: 10.5px;
                    }

                    li{

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding:8.5px 0px;

                        input[type="checkbox"]{ display: none;}
                        input[type="checkbox"]:checked + label{ 
                            span{

                                background-color: #0978B6;
                                &::before{
                                    opacity: 1;
                                }
                            }
                        }
                        
                        label{

                            display: inline-block;
                            font-weight: $fontWeight-400;
                            color:$fontColor-f;
                            font-size: $fontSize-16;
                            letter-spacing: $letterSpace-2;
                            display: flex;
                            

                            span{

                                width: 20px;
                                height: 20px;
                                border-radius: 100%;
                                border: 1px solid #0978B6;
                                margin-right:12px;
                                position: relative;

                                &::before{

                                    width: 20px;
                                    height: 20px;
                                    content: "";
                                    position: absolute;
                                    left:0;
                                    top:0;
                                    background-image: url(/iss/src/assets/media/header/check.svg);
                                    -webkit-background-image: url(/iss/src/assets/media/header/check.svg);
                                    background-repeat: no-repeat;
                                    background-size: 16px 10px;
                                    background-position: center center;
                                    opacity: 0;
                                }



                        }
                    }

                    button{

                        width: 22px;
                        height: 22px;
                        background-image: url(/iss/src/assets/media/header/delete.svg);
                        -webkit-background-image: url(/iss/src/assets/media/header/delete.svg);
                        background-repeat: no-repeat;
                        background-size: 22px 22px;
                        background-position: center center;

                    }
                }

                }

            }
        }
        
        .moreDatasBtn{

            position: absolute;
            bottom:0px;
            font-weight: $fontWeight-400;
            color:$fontColor-f;
            font-size: $fontSize-16;
            letter-spacing: $letterSpace-2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 52px;
            background-color: $backgroundColor-2325;
            border-top: 1px solid #6A6A6A;

            span{

                width: 18px;
                height: 18px;
                background-image: url(/iss/src/assets/media/header/moreBtn.svg);
                -webkit-background-image: url(/iss/src/assets/media/header/moreBtn.svg);
                background-repeat: no-repeat;
                background-size: 18px 18px;
                background-position: center center;
                display: inline-block;
                margin-left: 5px;
            }

            &.active{
                span{  
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
            }
        }
    }

@include breakpoint(x-large){
    .alaramPopBoxs{
        &.active{ height:calc(412px * 1.3);}
    }
}

@include breakpoint(large){
    .alaramPopBoxs{
        height:312px;
        &.active{ height:calc(312px * 1.3);}
      .alaramPopContents {
        
        .alaramPopDataBoxs {
            ul{
                padding: 10px 15px 10.5px;
                h3{ font-size: 1vw;}
                li {
                    padding:6px 0px;
                    label {
                        font-size: 0.8vw;
                        span{ width: 1vw; height: 1vw;
                        &::before{
                             width: 1vw;
                             height: 1vw;
                             background-size: 1vw 0.5vw;
                        }}
                    }
                    button{
                        width: 1vw;
                        height: 1vw;
                        background-size: 1vw 1vw;
                    }
                }
            }
        }
      }
      .moreDatasBtn { height:42px; font-size: 1vw;
    span { background-size: 1vw;}}
      
    }
}

@include breakpoint(medium){
    .alaramPopBoxs{
        height:212px;
        &.active{ height:calc(212px * 1.3);}
    }
}

}