.switchPopWrap{

    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:999999;
    display:block;
    overflow: auto;

    &::-webkit-scrollbar{ display: none;}
    &::-moz-scrollbar{ display: none;}
    
    &.active{ display:none;}

    .switchPopContent{

      padding:100px 0px 0px 70px;
      margin:0 auto;
      display: flex;
      align-items: center;
      justify-content: center;


      .switchPopBoxs{

         width:820px;
         height:873px;
         border-radius: 10px;
         border: 1px solid #686868;
         background-image: linear-gradient(#383339 0%, #121213 32% 100%);
         -webkit-background-image: linear-gradient(#383339 0%, #121213 32% 100%);
         backdrop-filter: blur(30px);
         -webkit-backdrop-filter: blur(30px);
         margin:0 auto;
         position: relative;

         &::after{

            content: "";
            width:calc(100% / 2.6);
            height:1px;
            position: absolute;
            top:-1px;
            left:calc(100% / 3.3);
            background-image:$border-linear;
            -webkit-background-image:$border-linear;
         }

          .titlesBoxs{

             width: calc(100% - 32px);
             padding:0px 16px;
             height: 46px;
             display: flex;
             align-items: center;
             justify-content: space-between;
             background-color: rgb(15, 152, 230, 0.3);
             border-top-left-radius: 10px;
             border-top-right-radius: 10px;

              h3{

                color:$fontColor-f;
                font-weight: $fontWeight-400;
                font-size: $fontSize-16;
                letter-spacing: $letterSpace-2;
              }

              button{

                background-position: center center;
                background-repeat: no-repeat;
                background-size: 22px 22px;
                background-image: url(/iss/src/assets/media/popUp/close.svg);
                -webkit-background-image: url(/iss/src/assets/media/popUp/close.svg);
                width:30px;
                height:30px;
                
              }

          }

          .popContentBoxs{

             padding:20px 0px 30px;
             width: 100%;
             margin:0 auto;

             .statesBoxs{
            
              padding:0px 30px;
              display: flex;
              align-items: center;
              justify-content: space-between;

               
                .statePoint{

                   display: flex;
                   align-items: center;
                   justify-content: flex-start;

                   &:last-child{ margin-right:0px;}

                   li{

                     color:$fontColor-f;
                     font-weight: $fontWeight-400;
                     font-size: $fontSize-12;
                     letter-spacing: $letterSpace-2;
                     position: relative;
                     padding:0px 20px 0px 13px;
                     

                     &::before{
                         
                        content: "";
                        width:6px;
                        height:6px;
                        border-radius: 40px;
                        position: absolute;
                        left:0px;
                        top:30%;
                        

                     }

                      &:nth-child(1)::before{
                         
                        background-color: #434B50;
                      }
                      &:nth-child(2)::before{
                         
                        background-color: #52E363;
                      }
                      &:nth-child(3)::before{
                         
                        background-color: #E74A4A;
                      }
                     

                   }
                }
             }

             .btnWrappers{

                display: flex;
                align-items: center;
                justify-content: center;
                gap:20px;

                button{

                   height:36px;
                   border-radius: 8px;
                   border: 1px solid #4B4B4C;
                   background-color: #9D9D9D1A;
                   color:$fontColor-f;
                   letter-spacing: $letterSpace-2;
                   
                   span{

                     background-position: center center;
                     background-repeat: no-repeat;
                      
                   }

                   &.pdfBtn{

                     padding:0px 12px;
                     font-size: $fontSize-8;
                     font-weight: $fontWeight-700;
                     display:flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: center;

                     span{

                        width:16px;
                        height:16px;
                        background-size: contain;
                        background-image: url(/iss/src/assets/media/popUp/pdf.svg);
                        -webkit-background-image: url(/iss/src/assets/media/popUp/pdf.svg);
                     }
                   }
                   &.downBtn{

                     padding:0px 14px;
                     font-size: $fontSize-13;
                     font-weight: $fontWeight-400;
                     display:flex;
                     align-items: center;
                     justify-content: center;
                     gap:5px;

                     span{

                        width:11.43px;
                        height:12.5px;
                        background-size: contain;
                        background-image: url(/iss/src/assets/media/popUp/download.svg);
                        -webkit-background-image: url(/iss/src/assets/media/popUp/download.svg);
                     }
                   }
                }
             }

             .dataContent{

               width:calc(100% - 60px);
               height:216px;
               border-radius: 10px;
               border: 1px solid #6A6A6A6E;
               background-color: #2A2A2D;
               margin:0 auto;
               margin-top:20px;
               overflow: hidden;

               .dataBoxs{

                  width: 100%;
                  height: 100%;
               }

             }

             .systemsInfoBoxs{

               padding-top:31px;
               margin:0 auto;

               .systemBtnBoxs{

                   display: flex;
                   justify-content: flex-start;
                   border-bottom: 1px solid #686868;

                   button{

                     padding:0px 50px 19px;
                     color:$fontColor-85;
                     font-weight: $fontWeight-400;
                     font-size: $fontSize-16;
                     letter-spacing: $letterSpace-2;
                     position: relative;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     gap:7px;

                     &::before{
                        content: "";
                        position: absolute;
                        bottom:0px;
                        left:0;
                        width:0px;
                        height:0.5px;
                        background-color: white;
                     }

                     &.active, &:hover{
                        color:$fontColor-f;
                     }
                     &.active::before, &:hover::before{
            
                        width:100%;
                        transition: width 800ms;
                     }

                     span{

                        padding:1.4px 4.3px 1.4px 4.3px;
                        border-radius: 3px;
                        background-color: #0F98E6;
                        color:$fontColor-f;
                        font-weight: $fontWeight-400;
                        font-size: $fontSize-10;
                        letter-spacing: $letterSpace-2;
                     }
                    
                     
                   }
               }

               .systemsDataInfo{

                  width:calc(100% - 60px);
                  margin: 0 auto;
                  background-color: #2A2A2D;
                  margin-top:30px;
                  position: relative;
                  left:0;

                  .systemDatas{

                     width: 100%;
                     border-radius: 10px;
                     border: 1px solid #6A6A6A6E;
                     background-color: #2A2A2D;
                     position: absolute;
                     left:0;
                     display:none;
           
                     &.active{ display:block; }

                     table{

                         width: 100%;
                         border-collapse:collapse;

                         tbody{

                           color:$fontColor-f;
                           font-weight: $fontWeight-400;
                           font-size: $fontSize-13;
                           letter-spacing: $letterSpace-2;

                           tr{

                              width: 100%;
                              height:40px;
                              border-bottom:1px solid #6A6A6A;

                              &:last-child{
                                 border-bottom:none;
                              }

                              &.addRowsDatas{

                                 border-bottom:none;
                              }

                              th { 
                                 text-transform: uppercase;
                                 font-weight: $fontWeight-400;
                                 text-align: left;
                                 width:calc(100% / 3);
                                 padding:0px 20px;
                                 border-right:1px solid #6A6A6A;
                              }
                              td{

                                 padding:0px 20px;
                                 position: relative;

                                 &.addPoint{
                                    padding:0px 20px 0px 34px;
                                 }
                                 &.addPoint::before{

                                    content: "";
                                    width: 6px;
                                    height: 6px;
                                    background-color: #52E363;
                                    position: absolute;
                                    left:20px;
                                    top:18px;
                                    border-radius: 40px;
                                     
                                 }
   
                                 
                              }
                           }

                         }
                     }

                  }

               }
             }
          }
      }
    }
}
