<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" /> -->
   <link rel="stylesheet" href="/src/assets/css/style.css">
   <title>S&S Cruiser</title>
</head>
<body>
   <div class="navigationWrappers"></div>
   <div class="headerWrappers"></div>
   <div id="customWrappers">
      <div class="customWrap resizeWidth">
         <div class="customTitlesBox">
             <a href="/src/components/setup/edit.html">대시보드 설정</a>
             <a href="/src/components/setup/customizing.html">커스텀 설정</a>
         </div>
         <section class="customContBoxs">
            <article class="customSpace">
               <div class="titleBoxs">
                   <h3>테마설정</h3>
                   <p>한 줄 - 두 줄 이내의 테마 설정 설명 글 영역입니다.</p>
               </div>
               <div class="customsController">
                  <ul class="divided">
                     <input type="radio" id="customsRadio01" name="customsTheme">
                     <label for="customsRadio01" class="labelBoxs">
                        <div class="boxsTop">
                            <h3><span class="whitetheme"></span>화이트테마</h3>
                            <p><i></i></p>
                        </div>
                        <div class="boxsBottom whiteTheme"></div>
                     </label>
                  </ul>
                  <ul class="divided">
                     <input type="radio" id="customsRadio02" name="customsTheme">
                     <label for="customsRadio02" class="labelBoxs">
                        <div class="boxsTop">
                            <h3><span class="blacktheme"></span>블랙테마</h3>
                            <p><i></i></p>
                        </div>
                        <div class="boxsBottom blackTheme"></div>
                     </label>
                  </ul>
               </div>
            </article>
            <article class="customSpace">
               <div class="titleBoxs">
                  <h3>알람설정</h3>
                  <p>한 줄 - 두 줄 이내의 테마 설정 설명 글 영역입니다.</p>
                  <p>한 줄 - 두 줄 이내의 테마 설정 설명 글 영역입니다.</p>
              </div>
              <div class="customsController">
                   <ul class="divided alarmSetup">
                     <div class="alarmSetupTitles">
                        <h5>네트워크 알람</h5>
                        <button class="alarmSetBtn"></button>
                     </div>
                     <div class="alarmBoxs"></div>
                  </ul>
                  <ul class="divided alarmSetup">
                     <div class="alarmSetupTitles">
                        <h5>스토리지 알람</h5>
                        <button class="alarmSetBtn"></button>
                     </div>
                     <div class="alarmBoxs">
                        <ul>
                           <li><span>중복 알람 주기</span>
                              <div class="radioWrapper">
                              <input type="radio" id="customStorage01" name="customStorage">
                              <label for="customStorage01"><span></span>1시간</label>
                              <input type="radio" id="customStorage02" name="customStorage">
                              <label for="customStorage02"><span></span>2시간</label>
                              <input type="radio" id="customStorage03" name="customStorage">
                              <label for="customStorage03"><span></span>3시간</label>
                            </div>
                           </li>
                        </ul>
                        <ul class="alarmHandlerCont">
                           <li><h3>Warning</h3></li>
                           <li><div class="datas datas01"><em></em><i></i></div><span>0%</span></li>
                           <li><p>Warning은 Minor,Major,Critical 보다 클 수 없습니다.</p></li>
                        </ul>
                        <ul class="alarmHandlerCont">
                           <li><h3>Minor</h3></li>
                           <li><div class="datas datas02"><em></em><i></i></div><span>0%</span></li>
                        </ul>
                        <ul class="alarmHandlerCont">
                           <li><h3>Major</h3></li>
                           <li><div class="datas datas03"><em></em><i></i></div><span>0%</span></li>
                        </ul>
                        <ul class="alarmHandlerCont">
                           <li><h3>critical</h3></li>
                           <li><div class="datas datas04"><em></em><i></i></div><span>0%</span></li>
                        </ul>
                     </div>
                  </ul>
              </div>
            </article>
            <div class="customsSaveBtnsBoxs">
               <button>취소</button>
               <button class="customSaveBtn">설정 저장</button>
            </div>
         </section>
   </div>
   <div id="customSavePopWrappers"></div>
   <div class="bottomMenuWrappers"></div>
   <script type="module" src="/index.js"></script>
   <script src="/src/js/customizing.js"></script>
</body>
</html>