<div class="popCommonWrap passwordPopWrap">
   <div class="popCommonFlexBox">
   <div class="popCommonBoxs saveCommonBoxs">
      <ul>
          <span class="popCommonImgBoxs passwordCommonImg"></span>
          <h5>비밀번호를 변경하시겠습니까?</h5>
      </ul>
      <div class="saveCommonBtnBoxs">
      <button type="button" class="passwordPopBtn">취소</button>
      <button type="button" class="passwordPopBtn">변경</button>
     </div>
   </div>
</div>
</div>
<script>
    
   //취소,변경버튼 클릭시, 팝업 닫히게 하기
   const passwordPopBtns = document.querySelectorAll(".passwordPopBtn");
   const passwordPopWrap = document.querySelector(".passwordPopWrap");

   if(passwordPopBtns){

      passwordPopBtns.forEach((btn) => {
         
         btn.addEventListener("click", () => {

            passwordPopWrap.classList.remove("active");
         })

      })
   }
</script>