<div class="userGroupPopWrapper">
   <div class="userGroupPopFlex">
      <div class="userGroupPopCont">
         <div class="userGroupPopContTitles">
            <h3><span></span>사용자 그룹 등록</h3>
            <button class="userGroupPopCloseBtn"></button>
         </div>
         <div class="userGroupPopContents">
          <section>
           <article class="userGroupArticle01">
            <div class="userGroupPopInfo">
               <ul>
                  <li>
                     <h5>사용자 그룹명</h5>
                     <input type="text" placeholder="그룹명 입력" required>
                     <label>사용자 그룹 명은 필수 정보입니다.</label>
                  </li>
               </ul>
               <ul>
                  <li>
                     <h5>사용자 그룹ID</h5>
                      <!--숨겨진 셀렉박스-->
                      <div class="userGroupSelectWrappers">
                        <select
                          name=""
                          id="userGroupSelectBox01"
                          hidden
                          required
                          >
                          <option value="선택">선택</option>
                          <option value="선택2">선택2</option>
                          <option value="선택3">선택3</option>
                          <option value="선택4">선택4</option>
                          <option value="선택5">선택5</option>
                        </select>
                      </div>
                      <!--보여지는 셀렉박스-->
                      <div class="userGroupSelects">
                        <button class="userGroupSelectsTitleBtn" type="button">선택</button>
                        <div class="userGroupSelectList">
                          <ul class="userGroupSelectListMember"></ul>
                        </div>
                      </div>
                      <label>사용자 그룹 명은 필수 정보입니다.</label>
                  </li>
               </ul>
            </div>
            <div class="userGroupPopInfo">
               <ul>
                  <li>
                     <h5>사용자 그룹명</h5>
                    <textarea placeholder="그룹 설명을 입력해주세요" required></textarea>
                    <label>사용자 그룹 명은 필수 정보입니다.</label>
                  </li>
               </ul>
            </div>
         </article>
         <article class="userGroupArticle01">
            <div class="userGroupHiddenInfo">
               <div class="userGroupHiddenBtnBoxs"><button class="userGroupHiddenBtn" type="button"><span></span>사용자 그룹 비밀번호 변경<i></i></button></div>
               <div class="hiddenPasswordCont">
                  <ul>
                     <li>
                        <h5>변경할 비밀번호</h5>
                        <input type="password" placeholder="비밀번호 입력" required>
                        <label>사용자 그룹 명은 필수 정보입니다.</label>
                     </li>
                     <li>
                        <h5>비밀번호 재입력</h5>
                        <input type="password" placeholder="비밀번호 재입력" required>
                        <label>사용자 그룹 명은 필수 정보입니다.</label>
                     </li>
                  </ul>
                  <ul>
                     <button class="passwordPopOpenBtn">비밀번호 변경 완료</button>
                  </ul>
               </div>
            </div> 
         </article>
          </section>
          <!--그룹인원부터 시작-->
          <section>
            <article class="userGroupArticle02">
              <div class="userGroupListBoxs01">
               <h3>그룹인원 <span>30</span></h3>
               <div class="userGroupSliders">
               <ul>
                  <li>
                     <p><span>박혜진 대리</span><button type="button"></button></p>
                     <p><span>박혜진 대리</span><button type="button"></button></p>
                     <p><span>박혜진 대리</span><button type="button"></button></p>
                     <p><span>박혜진 대리</span><button type="button"></button></p>
                     <p><span>박혜진 대리</span><button type="button"></button></p>
                  </li>
               </ul>
              <div class="userGroupSlidersBtns">
                <button type="button"></button>
                <button type="button"></button>
              </div>
            </div>
           </div>
            </article>
            <article class="userGroupArticle02">
               <div class="userGroupListBoxs02">
                  <div class="userGroupListCont">
                     <div class="userGroupListTitles">
                        <h3><span></span>조직도</h3>
                     </div>
                     <div class="userGroupListDatas">
                        <div class="groupDatas">
                            <div class="inputBoxs">
                            <input type="search" placeholder="조직 또는 사용자 이름으로 검색하세요"><button type="button" class="searchBtn"></button>
                           </div>
                        </div>

                  <div class="groupDatas openSelectDatas">
                     
                      <div class="groupSelectBoxs">
                        <div class="groupSelectBoxTitles"><button type="button" class="groupSelectBoxBtn"><h3>서비스 기획팀</h3><span>23</span></button></div>
                        <div class="groupSelectContents">
                              <!--보여지는 셀렉박스-->
                              <div class="groupListSelects">
                                 <button class="groupListSelectsTitleBtn" type="button">팀장<span>2</span></button>
                                 <div class="groupListSelectList">
                                 <ul class="groupListSelectListMember">
                                    <div class="optionGroupContent">
                                       <button type="button" class="optionGroupBtn">사원1팀</button>
                                       <div class="optionListBoxs">
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                    </div>
                                  </div>
                                 </ul>
                                 </div>
                              </div><!--groupListSelects-->
                              <!--보여지는 셀렉박스-->
                              <div class="groupListSelects">
                                 <button class="groupListSelectsTitleBtn" type="button">팀장<span>3</span></button>
                                 <div class="groupListSelectList">
                                 <ul class="groupListSelectListMember">
                                    <div class="optionGroupContent">
                                       <button type="button" class="optionGroupBtn">사원1팀</button>
                                       <div class="optionListBoxs">
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                    </div>
                                    </div>
                                 </ul>
                                 </div>
                              </div><!--groupListSelects-->
                           </div><!--groupSelectContents-->
                        </div><!--groupSelectBoxs-->

                        <div class="groupSelectBoxs">
                           <div class="groupSelectBoxTitles"><button type="button" class="groupSelectBoxBtn"><h3>서비스 기획팀</h3><span>23</span></button></div>
                           <div class="groupSelectContents">
                                 <!--보여지는 셀렉박스-->
                                 <div class="groupListSelects">
                                    <button class="groupListSelectsTitleBtn" type="button">팀장<span>2</span></button>
                                    <div class="groupListSelectList">
                                    <ul class="groupListSelectListMember">
                                       <div class="optionGroupContent">
                                          <button type="button" class="optionGroupBtn">사원1팀</button>
                                          <div class="optionListBoxs">
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       </div>
                                     </div>
                                    </ul>
                                    </div>
                                 </div><!--groupListSelects-->
                                 <!--보여지는 셀렉박스-->
                                 <div class="groupListSelects">
                                    <button class="groupListSelectsTitleBtn" type="button">팀장<span>3</span></button>
                                    <div class="groupListSelectList">
                                    <ul class="groupListSelectListMember">
                                       <div class="optionGroupContent">
                                          <button type="button" class="optionGroupBtn">사원1팀</button>
                                          <div class="optionListBoxs">
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                       </div>
                                       </div>
                                    </ul>
                                    </div>
                                 </div><!--groupListSelects-->
                              </div><!--groupSelectContents-->
                           </div><!--groupSelectBoxs-->

                           <div class="groupSelectBoxs">
                              <div class="groupSelectBoxTitles"><button type="button" class="groupSelectBoxBtn"><h3>서비스 기획팀</h3><span>23</span></button></div>
                              <div class="groupSelectContents">
                                    <!--보여지는 셀렉박스-->
                                    <div class="groupListSelects">
                                       <button class="groupListSelectsTitleBtn" type="button">팀장<span>2</span></button>
                                       <div class="groupListSelectList">
                                       <ul class="groupListSelectListMember">
                                          <div class="optionGroupContent">
                                             <button type="button" class="optionGroupBtn">사원1팀</button>
                                             <div class="optionListBoxs">
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          </div>
                                        </div>
                                       </ul>
                                       </div>
                                    </div><!--groupListSelects-->
                                    <!--보여지는 셀렉박스-->
                                    <div class="groupListSelects">
                                       <button class="groupListSelectsTitleBtn" type="button">팀장<span>3</span></button>
                                       <div class="groupListSelectList">
                                       <ul class="groupListSelectListMember">
                                          <div class="optionGroupContent">
                                             <button type="button" class="optionGroupBtn">사원1팀</button>
                                             <div class="optionListBoxs">
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                          </div>
                                          </div>
                                       </ul>
                                       </div>
                                    </div><!--groupListSelects-->
                                 </div><!--groupSelectContents-->
                              </div><!--groupSelectBoxs-->

                              <div class="groupSelectBoxs">
                                 <div class="groupSelectBoxTitles"><button type="button" class="groupSelectBoxBtn"><h3>서비스 기획팀</h3><span>23</span></button></div>
                                 <div class="groupSelectContents">
                                       <!--보여지는 셀렉박스-->
                                       <div class="groupListSelects">
                                          <button class="groupListSelectsTitleBtn" type="button">팀장<span>2</span></button>
                                          <div class="groupListSelectList">
                                          <ul class="groupListSelectListMember">
                                             <div class="optionGroupContent">
                                                <button type="button" class="optionGroupBtn">사원1팀</button>
                                                <div class="optionListBoxs">
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             </div>
                                           </div>
                                          </ul>
                                          </div>
                                       </div><!--groupListSelects-->
                                       <!--보여지는 셀렉박스-->
                                       <div class="groupListSelects">
                                          <button class="groupListSelectsTitleBtn" type="button">팀장<span>3</span></button>
                                          <div class="groupListSelectList">
                                          <ul class="groupListSelectListMember">
                                             <div class="optionGroupContent">
                                                <button type="button" class="optionGroupBtn">사원1팀</button>
                                                <div class="optionListBoxs">
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                             </div>
                                             </div>
                                          </ul>
                                          </div>
                                       </div><!--groupListSelects-->
                                    </div><!--groupSelectContents-->
                                 </div><!--groupSelectBoxs-->

                                 <div class="groupSelectBoxs">
                                    <div class="groupSelectBoxTitles"><button type="button" class="groupSelectBoxBtn"><h3>서비스 기획팀</h3><span>23</span></button></div>
                                    <div class="groupSelectContents">
                                          <!--보여지는 셀렉박스-->
                                          <div class="groupListSelects">
                                             <button class="groupListSelectsTitleBtn" type="button">팀장<span>2</span></button>
                                             <div class="groupListSelectList">
                                             <ul class="groupListSelectListMember">
                                                <div class="optionGroupContent">
                                                   <button type="button" class="optionGroupBtn">사원1팀</button>
                                                   <div class="optionListBoxs">
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                </div>
                                              </div>
                                             </ul>
                                             </div>
                                          </div><!--groupListSelects-->
                                          <!--보여지는 셀렉박스-->
                                          <div class="groupListSelects">
                                             <button class="groupListSelectsTitleBtn" type="button">팀장<span>3</span></button>
                                             <div class="groupListSelectList">
                                             <ul class="groupListSelectListMember">
                                                <div class="optionGroupContent">
                                                   <button type="button" class="optionGroupBtn">사원1팀</button>
                                                   <div class="optionListBoxs">
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                   <li><p>김주원 사원 (wndnjs113@email.com)</p></li>
                                                </div>
                                                </div>
                                             </ul>
                                             </div>
                                          </div><!--groupListSelects-->
                                       </div><!--groupSelectContents-->
                                    </div><!--groupSelectBoxs-->
                                    

                     </div><!--groupDatas-->                  
                  </div><!--userGroupListDatas-->
                 </div><!--userGroupListCont-->

                  <div class="userGroupListControlBtnBoxs">
                      <button type="button"></button>
                      <button type="button"></button>
                  </div>

                  <div class="userGroupListCont">
                     <div class="userGroupListTitles">
                        <h3><span></span>적용 대상<em>5</em></h3>
                     </div>
                     <div class="userGroupListDatas">
                        <ul class="userGroupNames">
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                           <li><p>박혜진 대리 (qkrgowls@email.com)</p><button></button></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </article>
            <div class="useGroupListBtnWrap01">
               <button>취소</button>
               <button>확인</button>
             </div>
            </section>
               <div class="useGroupListBtnWrap02">
                  <button class="addUserBtn">사용자 그룹 등록</button>
                </div>
         </div>
      </div>
    </div>
   </div>
<div id="addUserPopWrappers"></div>
<div id="passwordPopWrappers"></div>
<script src="/src/js/userGroupPop.js"></script>
