
@keyframes stateLoadingRotate {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }

#issuesStateWrappers{

   width: 100vw;
   height: 100vh;
   margin:0 auto;
   background-color: $backgroundColor-2325;
   position: absolute;
   overflow: auto;

   &::-webkit-scrollbar{ display: none;}
   &::-moz-scrollbar{ display: none;}
   &::before{

      content: "";
      width: 100vw;
      height: 100vh;
      background-image: radial-gradient(rgba(122, 122, 122, 0.5) 0%, rgba(73, 73, 73, 0.5) 50%, rgba(31, 31, 31, 0.5) 50%);
      -webkit-background-image: radial-gradient(rgba(122, 122, 122, 0.5) 0%, rgba(73, 73, 73, 0.5) 50%, rgba(31, 31, 31, 0.5) 50%);
      position: absolute;
      left:0;
      top:0;

   }

   .issuesStateContentWrap{

      padding:58px 0px 0px 70px;
      backdrop-filter: blur(60px);
      -webkit-backdrop-filter: blur(60px);

       .issuesStateContBoxs{

          padding-left:9px;
          display: flex;
          flex-wrap: wrap;
          gap:9px;

           .issuesStateCont{

            flex:1;
            min-width:calc(100% / 4 - 9px);
            max-width:calc(100% / 5 - 9px);
            width:448px;
            height:238px;
            border:1px solid #686868;
            border-radius: 10px;
            background-image: linear-gradient(#383339 0%, #121213 40% 100%);
            -webkit-background-image: linear-gradient(#383339 0%, #121213 40% 100%);
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
            position: relative;
            
            // &::after{

            //    content: "";
            //    width:calc(100% / 4.1);
            //    height:1px;
            //    position: absolute;
            //    top:-1px;
            //    left:calc(100% / 2.6);
            //    background-image: $border-linear;
            //    -webkit-background-image: $border-linear;
            // }

             .gradientLines{

               width:calc(100% / 4.1);
               height:1px;
               position: absolute;
               top:-1px;
               left:calc(100% / 2.6);
               background-image: $border-linear;
               -webkit-background-image: $border-linear;
             }

             .titles{
               
               width: 100%;
               height: 29px;
               background-color: rgba(97, 97, 97, 0.3);
               display: flex;
               align-items: center;
               justify-content: space-between;
               border-bottom: 1px #686868;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;

                ul{

                  padding:0px 10px 0px 16px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap:7px;

                   .icons{
                      
                      width:15px;
                      height:15px;
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: contain;

                   }

                   h5{

                     font-size: $fontSize-13;
                     font-weight: $fontWeight-400;
                     letter-spacing: $letterSpace-2;
                     color:$fontColor-d1;

                   }
 
                }

               .btnBoxs{

                   button{

                      width: 20px;
                      height: 20px;
                      border:1px solid #515052;
                      border-radius: 4px;
                      background-color: #FFFFFF0D;
                      border: 1px solid #515052;
                      background-position: center center;
                      background-repeat: no-repeat;
                      

                       &.issueInfoBtn01{

                         background-size: 13px 13px;
                         background-image: url(/iss/src/assets/media/issuesState/issueBtn01.svg);
                         -webkit-background-image: url(/iss/src/assets/media/issuesState/issueBtn01.svg);
                       }

                       &.issueInfoBtn02{
                        background-size: 11px 11px;
                        background-image: url(/iss/src/assets/media/issuesState/issueBtn02.svg);
                        -webkit-background-image: url(/iss/src/assets/media/issuesState/issueBtn02.svg);

                       }

                   }
               }

             }

             .issuesStateDataWrap{

               width: 100%;
               height: calc(100% - 29px);

               .issuesStateDataBoxs{

                  width: 100%;
                  height: 100%;

               .issuesStateDataLoading{

                  width: 100%;
                  height: 100%;
                  margin:0 auto;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
            
                                 
                  .loadingSpinner{

                     width:35px;
                     height:35px;
                     border: 3px solid rgb(20, 136, 207);
                     border-top: 3px solid transparent;
                     border-radius: 100%;
                     animation: stateLoadingRotate 1s linear infinite;

                  }

                  p{

                     color:#1879B5;
                     font-size:$fontSize-13;
                     font-weight:$fontWeight-400;
                     letter-spacing: $letterSpace-2 ;
                     padding-top: 12px;
                     text-align: center;
                  }
                }
               }
             }
           }
          
       }
   }

   @include breakpoint(xxxlarge) {
      .issuesStateContentWrap{
         .issuesStateContBoxs {
            .issuesStateCont {
               .gradientLines{ height:1.5px; top: -1.5px;}
            }
         }
      }
   }

   @include breakpoint(large) {
      .issuesStateContentWrap{
         .issuesStateContBoxs {
            .issuesStateCont {
               .titles {
                  ul{
                     h5{ font-size: 1vw;}
                  }
               }
            }
         }
      }
   }

   @include breakpoint(medium) {
      .issuesStateContentWrap{
         .issuesStateContBoxs {
            .issuesStateCont {
               .titles {
                  ul{

                     padding:0px 10px;
                     h5{ font-size: 0.9vw;}
                  }
               }
            }
         }
      }
   }

}


.alarmPageWrapper{

   position: absolute;
   bottom:0px;
   right:0px;
   display: block;
   z-index:999999;

      &.active{
         
         display:none;
      }

   .alarmPageBoxs{

      width:calc(400px - 46px);
      padding:12px 21px 23px 23px;
      height:calc(78px - 37px);
      border-radius: 10px;
      border: 1px solid #686868;
      background-image: linear-gradient(to right, rgb(6, 57, 85) 100%, rgb(16, 109, 161) 0%);
      -webkit-background-image: linear-gradient(to right, rgb(6, 57, 85) 100%, rgb(16, 109, 161) 0%);
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      box-shadow: 0px 0px 30px 0px #000;
      position: relative;

      &::after{
         content: "";
         width:calc(100% / 4);
         height:1px;
         position: absolute;
         top:-1px;
         left:calc(100% / 2.6);
         background-image: $border-linear;
         -webkit-background-image: $border-linear;
      }

      ul{

         width: 100%;
         padding-top:6px;
         display: flex;

         li{

            margin-right:20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:last-child{  margin-right:0px;}

            .iconBoxs{

               width:32px;
               height:32px;
               display:block;
               border-radius: 70px;
               border: 1px solid #1194E3;
               background-position: center center;
               background-repeat: no-repeat;
               background-size: 24px 24px;
               background-image: url(/iss/src/assets/media/issuesState/check.svg);
               -webkit-background-image: url(/iss/src/assets/media/issuesState/check.svg);

            }

            h3{

               color:$fontColor-f;
               font-weight: $fontWeight-400;
               font-size: $fontSize-16;
               letter-spacing: $letterSpace-2;

            }

            p{

               padding-top: 10px;
               color:#687089;
               font-weight: $fontWeight-400;
               font-size: $fontSize-13;
               letter-spacing: $letterSpace-2;
            }
         }
      }
      .issueAlarmCloseBtn{
         width: 22px;
         height: 22px;
         position: absolute;
         right:21px;
         top:12px;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: contain;
         background-image: url(/iss/src/assets/media/issuesState/closeBtn.svg);
         -webkit-background-image: url(/iss/src/assets/media/issuesState/closeBtn.svg);
          
      }

   }

   
}