$backgroundGradient : linear-gradient(to right, rgba(115, 115, 115, 0.2) 0% 20%, rgba(57, 57, 57,0.2) 100%);


#toolsWrappers{

   width: 100%;
   height:100%;
   background-color: #232325;
   overflow: auto;

   &::-webkit-scrollbar{ display: none;}
   &::-moz-scrollbar{ display: none;}

  .toolsContentWrap{

      padding:50px 0px 0px 70px;
      margin:0 auto;
      height: calc(100% - 50px);

    .toolsContentBoxs{

      width: 100%;
      height: 100%;
      margin:0 auto;

   /* 툴박스 버튼 영역 */
   .contentTopBoxs{

      padding:0px 14px 0px 13px;
      height:40px;
      border-bottom: 1px solid #6A6A6A;
      display: flex;
      align-items: center;
      justify-content: space-between;

   .toolsBtnBoxs{

      display: flex;
      align-items: center;
      justify-content: flex-start;

   ul{
      height: 100%;
      display: flex;
      align-items: center;
      border-right:1px solid #474748;

      &:last-child{  border-right:none;}

      li{
      display: flex;
      align-items: center;
      justify-content: center;

         button{

            display: block;
            width:34px;
            height:33px;
            border-radius: 8px;
            background-position: center center;
            background-repeat: no-repeat;
            margin-right:9px;

         }
      }
      &.resetBoxs{

         li{

         &:nth-child(1){
            button{
               background-image: url(/src/assets/media/toolsImg/tools01.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools01.svg);
               background-size: 16px 16px;
            }
         }
         &:nth-child(2){
               button{
               background-image: url(/src/assets/media/toolsImg/tools02.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools02.svg);
               background-size: 24px 24px;
               }
         }

         }
      }

   &.toolsBtnArrange{  padding-left:9px;

    li{ position: relative;

      button{

      border:1px transparent;
      position: relative;

         &::before{

            content: "";
            position: absolute;
            left:0;
            top:0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;

            }
            &:hover, &.active{

            border: 1px solid #68686833;
            background-image: $backgroundGradient;
            -webkit-background-image: $backgroundGradient;
            }

            &:hover::before,  &.active::before{
               filter: brightness(100);
               -webkit-filter: brightness(100);
            }
      }
         &:nth-child(1){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools03.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools03.svg);
            }
         }
         &:nth-child(2){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools04.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools04.svg);
            }
         }
         &:nth-child(3){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools05.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools05.svg);
            }
         }
         &:nth-child(4){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools06.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools06.svg);
            }
         }
         &:nth-child(5){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools07.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools07.svg);
            }
         }
         &:nth-child(6){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools08.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools08.svg);
            }
         }
         &:nth-child(7){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools09.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools09.svg);
            }
         }
         &:nth-child(8){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools10.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools10.svg);
            }
         }
         &:nth-child(9){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools11.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools11.svg);
            }
         }
         &:nth-child(10){
            button::before{
               background-image: url(/src/assets/media/toolsImg/tools12.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/tools12.svg);
            }
         }

      .toolsHiddenBoxs{

            position: absolute;
            top:110%;
            left:0;
            width: 209px;
            height: 80px;
            border-radius: 8px;
            background-color: rgba(31, 31, 32, 0.502);
            border: 1px solid #68686866;
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            flex-direction: column;
            overflow: hidden;
            display:none;
            z-index:999;

            &.active{
               
               display: flex;
            }

            button{
               color: $fontColor-f;
               font-size: $fontSize-12;
               font-weight: $fontWeight-400;
               width:100%;
               flex:1;
               border: 1px transparent;
               border-radius: 0px;
               padding-left:56px;
               text-align: left;
         
            
               &::before{
               width:30px;
               left:16px;
               background-size: 13px 13px;
               }

               &.toolsHidden:nth-child(1):before{
                  background-image: url(/src/assets/media/toolsImg/subtools01.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/subtools01.svg);
               }
               &.toolsHidden:nth-child(2):before{
               background-image: url(/src/assets/media/toolsImg/subtools02.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/subtools02.svg);
            }

         }
     }
      .toolsHiddenBoxs02{

            height: 154px;

            button{

               &.toolsHidden:nth-child(1):before{
                  background-image: url(/src/assets/media/toolsImg/subtools03.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/subtools03.svg);
               }
                  &.toolsHidden:nth-child(2):before{
                  background-image: url(/src/assets/media/toolsImg/subtools04.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/subtools04.svg);
               }
               &.toolsHidden:nth-child(3):before{
                  background-image: url(/src/assets/media/toolsImg/subtools05.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/subtools05.svg);
               }
                  &.toolsHidden:nth-child(4):before{
                  background-image: url(/src/assets/media/toolsImg/subtools06.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/subtools06.svg);
               }
            }
         }
      }
    }
   }
 }
   .saveBtnBoxs{

         display: flex;
         align-items: center;
         justify-content: center;
         gap:10px;
      
    .saveBtn{

         width: 88px;
         height:32px;
         padding:0px 15px 0px 13px;
         border-radius: 8px;
         font-size: $fontSize-12;
         font-weight: $fontWeight-400;
         letter-spacing: $letterSpace-2;
         color:$fontColor-f;
         border: 1px solid #68686833;
         background-image: $backgroundGradient;
         -webkit-background-image: $backgroundGradient;
         position: relative;
         text-align: right;

      &::before{

         width: 10px;
         height: 15px;
         content: "";
         background-position: center center;
         background-repeat: no-repeat;
         background-size: 13px 13px;
         background-image: url(/src/assets/media/toolsImg/file.svg);
         -webkit-background-image: url(/src/assets/media/toolsImg/file.svg);
         position: absolute;
         left:13px;
         
         }
       }

   .toggleBtn{

      width: calc(61px - 6px);
      height:29px;
      border-radius: 100px;
      padding:3px;
      background-color: #36363A;
      display: flex;
      justify-content: flex-start;
      transition: background-color 500ms;

      &.active{
         background-color: #0089D6;
         transition: background-color 500ms;
      }

      span{

         width: 23px;
         height: 23px;
         border-radius: 50%;
         background-image: linear-gradient(#858585 0%, #F2F2F2 100%);
         -webkit-background-image: linear-gradient(#858585 0%, #F2F2F2 100%);
         transform: translateX(0);
         transition: transform 500ms;

         &.active{
            
            transform: translateX(100%);
            transition:transform 500ms;
         }

      }
     }
   }
}

/* 자원목록 및 옵션, 메인스크린영역 */
.contentMainBoxs{

      width: 100%;
      height: calc(100% - 41px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:0 auto;

 .toolsOptionsSection{

      width:30%;
      height:100%;
      max-width:272px;
      border-right: 1px solid #6A6A6A4D;
      overflow: auto;

      &::-webkit-scrollbar{ width: 2px;}
      &::-webkit-scrollbar-thumb{
          height: 10px!important;
          border-radius: 10px;
          background-color: #D9D9D9;
      }
      &::-webkit-scrollbar-button:vertical:start:decrement{
          display: block;
          height: 5px;
      }
      &::-webkit-scrollbar-button:vertical:start:increment{
          display: block;
          height: 5px;
      }
      &::-webkit-scrollbar-button:vertical:end:decrement {
          display: block;
          height: 5px;
      }
      &::-moz-scrollbar{ width: 2px;}
      &::-moz-scrollbar-thumb{
          height: 10px!important;
          border-radius: 10px;
          background-color: #D9D9D9;
      }
      &::-moz-scrollbar-button:vertical:start:decrement{
          display: block;
          height: 5px;
      }
      &::-moz-scrollbar-button:vertical:start:increment{
          display: block;
          height: 5px;
      }
      &::-moz-scrollbar-button:vertical:end:decrement {
          display: block;
          height: 5px;
      }

   .toggleBoxies{
      
      padding:12px 11px 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #6A6A6A;

   ul{

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4B525D1A;
      border-radius: 8px;
      border: 1px solid #48484880;

      button{

         height:40px;
         border-radius: 8px;
         border:1px solid transparent;
         background-color:transparent;
         flex:1;
         display: block;
         color:#D6D6D6;
         font-size: $fontSize-14;
         font-weight: $fontWeight-400;
         letter-spacing: $letterSpace-2;
         position: relative;

         &::after{
         content: "";
         width:calc(100% / 3);
         height:0.7px;
         position: absolute;
         top:0px;
         left:calc(100% / 3);
         opacity: 0;
         background-image: linear-gradient(90deg, rgba(58, 58, 59, 0.7) 0%, rgba(117, 117, 117,0.7) 52%, rgba(55, 55, 56,0.7) 100%);
         -webkit-background-image:linear-gradient(90deg, #686868 0%, #B7B7B7 52%, #686868 100%);

         }
         &.active{
         border-top: 0px;
         border-bottom: 0px;
         border:1px solid #48484880;
         background-image: $backgroundGradient;
         -webkit-background-image: $backgroundGradient;
         }
         &.active::after{
         opacity: 1;
         }
      }
    }
 }
   .listOptionsBox{

      position: relative;
      left:0;
      top:0;
      width: 100%;


      .listOptionsSpace{

            position: absolute;
            left:0;
            top:0;
            width: calc(100%);
            padding: 22px 0px 0px;
            display: none;

      &.active{
          display: block;
      }

         .listTitlesBoxs{ 
            
            width: calc(100% - 22px);
            padding:0px 11px 20px;

               h5{
                  color:$fontColor-f;
                  font-weight:$fontWeight-400;
                  font-size:$fontSize-14;
                  letter-spacing: $letterSpace-2;
                  text-align: left;
                  padding-bottom: 23px;
                  text-transform: uppercase;
               }

      /* 셀렉박스 */
      .toolselectBoxsWrappers{

         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap:7px;

         &.typefaceSelectBoxsWrappers {
            flex-direction: row; 
         }
         .toolListSelectWrap{

         display: flex;
         justify-content: flex-start;
         width: 100%;

         .toolListSelectBoxs{ width:100%;


         .toolListSelects{
            max-width: 250px;
            height: 37px;
            border-radius: 8px;
            background-color:rgba(22, 22, 22, 0.4);
            position: relative;

         .toolListSelectsTitleBtn{

            width: 100%;
            padding: 0px 13px;
            height: 100%;
            border: 1px solid #686868;
            position: absolute;
            left: 0;
            display: block;
            background-color:transparent;
            font-size: $fontSize-13;
            text-align: left;
            font-weight: $fontWeight-400;
            letter-spacing: $letterSpace-2;
            border-radius: 8px;
            color:#8E8E8E;
            cursor: pointer;

            &.active{
               border: 1px solid #0BA7FE;
               color:$fontColor-f;
            }

            &.toolGroups,  &.typefaceSelectsTitleBtn{
               background-image: url(/src/assets/media/toolsImg/arrowDown.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/arrowDown.svg);
               background-size: 18px;
               background-position: 94% center;
               background-repeat: no-repeat;

            }


            &.filterBtn{
               background-image: url(/src/assets/media/toolsImg/toolFilters.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/toolFilters.svg);
               background-size: 16px;
               background-position: 11px center;
               background-repeat: no-repeat;
               padding: 0px 12px 0px 34px;
               display: flex;
               align-items: center;
               justify-content: space-between;
            }

            span{

                  width: 17px;
                  height: 17px;
                  background-color: #0F98E6;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color:#fff;
                  font-weight: $fontWeight-400;
                  font-size: 10px;
                  letter-spacing: $letterSpace-2;
            }

      }
      .toolListSelectList{
         position: absolute;
         z-index:9999;
         top: 44px;
         left: 0;
         width: 100%;
         height:0px;
         border-radius: 10px;
         border:none;
         background-color:rgba(22, 22, 22,0.4);
         opacity: 1;
         transition: 300ms;
         overflow: hidden;
         backdrop-filter: blur(15px);
         -webkit-backdrop-filter: blur(15px);
         
         
         &.active{    
            opacity: 1;
            height: 166px;
            z-index: 9999;
            border:1px solid #68686866;
            transition: height 500ms;

            }

         .toolListSelectListMember{

            position: absolute;
            top: 0px;
            left: 0;
            width: calc(100%);
            height: 100%;
            margin: 0 auto;
            background-color:transparent;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 9999;

            &::-webkit-scrollbar{ display: none;}

            li{

            width: 100%;
            height:37px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
               background-image: $backgroundGradient;
               -webkit-background-image: $backgroundGradient;
               opacity: 100%;
            }
            p{

               color: $fontColor-f;
               font-size: $fontSize-13;
               font-weight: $fontWeight-400;
               width: calc(100% - 32px);
               padding:0px 16px;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: flex-start;
               cursor: pointer;
            }
            }

            &.checkBoxsContent{

               li {
                  label{

                  width: calc(100% - 32px);
                  padding:0px 16px;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  cursor: pointer;
                  color: $fontColor-f;
                  font-size: $fontSize-13;
                  font-weight: $fontWeight-400;

               
                  span{
                     width: 20px;
                     height: 19px;
                     margin-right: 8px;
                     border-radius: 5px;
                     background-color: #3C3C3E;
                     }
                  }

                  input[type="checkbox"]{
                     display:none;
                  }
                  input[type="checkbox"]:checked + label span{
                  background-color: #0BA7FE;
                  background-image: url(/src/assets/media/toolsImg/checkFill.svg);
                  -webkit-background-image: url(/src/assets/media/toolsImg/checkFill.svg);
                  background-repeat: no-repeat;
                  background-size: 10px;
                  background-position: center center;
                  }

            }
            }

         }
         }
      }

      &.typefaceSelectBoxs01{

         width: 146px;

        .typefaceSelects{

           width:100%;
           height: 37px;
           border-radius: 8px;
           background-color:rgba(22, 22, 22, 0.8);
           position: relative;


        }

      }

      &.typefaceSelectBoxs02{

         width: 91px;
      }


      }
      }
      /* 검색하기 인풋 */
      .searchBoxs{

         width: 100%;
         height: 37px;
         border-radius: 8px;
         border: 1px solid #686868;
         background-color:rgba(22, 22, 22, 0.4);
         backdrop-filter: blur(15px);
         -webkit-backdrop-filter: blur(15px);

         input{

         width: 100%;
         height: 100%;
         background-color:transparent;
         border:none;
         padding:0px 12px 0px 31px;
         color:#8E8E8E;
         font-weight: $fontWeight-400;
         font-size: $fontSize-13;
         letter-spacing: $letterSpace-2;
         background-image: url(/src/assets/media/toolsImg/search.svg);
         -webkit-background-image: url(/src/assets/media/toolsImg/search.svg);
         background-size: 15px;
         background-position: 12px center;
         background-repeat: no-repeat;

            
         &:focus{ outline: none;}
         }

      }
   }
   
     }

     /* 자원목록 */
     .listSetup{ 

      width: calc(100% - 22px);
      padding:20px 11px 0px;
      border-top: 1px solid #6A6A6A;

               h5{
                  color:$fontColor-f;
                  font-weight:$fontWeight-400;
                  font-size:$fontSize-14;
                  letter-spacing: $letterSpace-2;
                  text-align: left;
                  padding-bottom: 23px;
               }
      ul{
         width: 100%;

         li{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap:7px;

            button{
              width: 100%;
              max-width:250px;
              padding-left: 42px;
              height:38px;
              border-radius: 8px;
              border:1px solid #686868;
              background-color: transparent;
              color:$fontColor-f;
              font-size: $fontSize-13;
              font-weight: $fontWeight-400;
              letter-spacing: $letterSpace-2;
              text-align: left;
              text-transform: uppercase;
              position: relative;
              background-position: 13px center;
              background-repeat: no-repeat;
              background-size: 17px 17px;

              &.active{
               border:1px solid #0BA7FE;
               &::after{ 
                   top:-1px;
                   background-image: $border-linear-blue;
                  -webkit-background-image: $border-linear-blue; }
              }
              &::after{

               content: "";
               width:calc(100% / 3.6);
               height:1px;
               position: absolute;
               top:-0.5px;
               left:calc(100% / 2.75);
               background-image: linear-gradient(90deg, #3F3F40 0%, #B7B7B7 52%, #3F3F40 100%);
               -webkit-background-image: linear-gradient(90deg, #3F3F40 0%, #B7B7B7 52%, #3F3F40 100%);

              }

            &.hg-01{ 
               background-image: url(/src/assets/media/toolsImg/switchBtns/hg-01.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/switchBtns/hg-01.svg);
            }
            &.switch-01{ 
               background-image: url(/src/assets/media/toolsImg/switchBtns/switch-01.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/switchBtns/switch-01.svg);
            }
            }

         }
      }

     }

     &.optionSpace{
        
         .positionBoxs{

            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 22px;
            border-bottom:1px solid #3F3F3F;

            ul{

                width: 100%;
                display: flex;
                flex-direction: column;
                gap:11px;

                li{

                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  span{

                     color:$fontColor-f;
                     font-weight: $fontWeight-400;
                     letter-spacing: $letterSpace-2;
                     font-size: $fontSize-12;
                  }

                  input[type="text"]{

                      max-width: 82px;
                      padding:0px 7px;
                      height: 27px;
                      border-radius: 8px;
                      background-color: #1E1E1F;
                      color: #525252;
                      font-size: $fontSize-11;
                      font-weight:$fontWeight-400;
                      letter-spacing: $letterSpace-2;
                      border: none;

                      &:focus{ outline: none;}

                  }
                }
            }
         }

         .iconArrayBoxs{

            padding-bottom: 23px;
            border-bottom: 1px solid #3F3F3F;

             ul{

                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap:22px 16px;

                li{

                   flex:1;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;

                   button{

                      width: 70px;
                      height: 70px;
                      border-radius: 10px;
                      border: 1px solid #4C4C4C;
                      background-image: linear-gradient(#2A2A2A 0%,#505350 100%);
                      position: relative;
                      
                      &::before{

                         position: absolute;
                         left:0;
                         top:0;
                         width: 100%;
                         height: 100%;
                         content: "";
                         background-position: center center;
                         background-repeat: no-repeat;
                         background-size: 31px 31px;
                         background-image: url(/src/assets/media/toolsImg/software.svg);
                         -webkit-background-image: url(/src/assets/media/toolsImg/software.svg);
                         
                      }
                   }

                   em{

                     font-size: $fontSize-11;
                     font-weight: $fontWeight-400;
                     letter-spacing: $letterSpace-2;
                     font-style: normal;
                     padding-top:10px;
                     color:#878787;
                     
                   }

                   &:hover{

                      button{

                         border:1px solid #fff;
                      }

                      em{

                        color:$fontColor-f;
                      }
                   }
                }
             }
         }

         .typeFaceBoxs{ 

             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: space-between;
             gap:8px;

             h5{

                width: 100%;
             }
         }
         .styleControlBoxs{

            padding: 0px 0px 20px;
            width: 100%;

            h5{ padding:0px 11px 23px;}

         .styleBoxs{

             width: 100%;
             display: flex;
             align-items: center;
             justify-content: center;

             ul{

                display: flex;
                flex-direction: column;
                gap:25px;

                li{

                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   width: 100%;
                   gap:14px;


                   span{

                     color: #fff;
                     font-weight: 400;
                     letter-spacing: 0.2px;
                     font-size: 12px;

                   }

                   .inputColorBoxs{

                     display: flex;
                     align-items: center;
                     justify-content: center;
                     gap:7px;

                   .number-input, .colors{

                     border: 1px solid #686868;
                     border-radius: 8px;
                     width:calc(100% / 2);
                     height: 37px;
                     background-color: #161616CC;
                     position: relative;

                     &.outlinesBtn{

                         background-color: #0084FF;
                     }

                 }

                 .number-input{

                    display: flex;
                    overflow: hidden;

                    input[type="text"]{
                     width: calc(80% - 24px);
                     padding:0px 12px;
                     height: 100%;
                     background-color: transparent;
                     border: none;
                     color:$fontColor-8e;
                     font-size: $fontSize-13;
                     font-weight: $fontWeight-400;
                     letter-spacing: $letterSpace-2;


                    }
                    input[type="text"]:focus{ outline: none;}

                    .numBtnBoxs{

                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      width: 20%;
                      height: 100%;
                      gap:3px;


                    button{

                      width: 12px;
                      height: 12px;
                      background-size: 12px 12px;
                      background-repeat: no-repeat;
                      background-position: center center;

                      &:nth-child(1){
                        background-image: url(/src/assets/media/toolsImg/increase.svg);
                        -webkit-background-image: url(/src/assets/media/toolsImg/increase.svg);
                      }

                      &:nth-child(2){
                        background-image: url(/src/assets/media/toolsImg/decrease.svg);
                        -webkit-background-image: url(/src/assets/media/toolsImg/decrease.svg);
                      }
                      
                    }
                  }
                 }

                 .colors{

                    overflow: hidden;
                    background-color: #25282D;
                     &::after{
                           
                        content: "";
                        position: absolute;
                        border-left: 1px solid #686868;
                        right:0px;
                        top:0px;
                        width:31px;
                        height:36px;
                        background-color: #1c1c1c;
                        background-image: url(/src/assets/media/toolsImg/arrowDown.svg);
                        -webkit-background-image: url(/src/assets/media/toolsImg/arrowDown.svg);
                        background-size: 18px 18px;
                        background-repeat: no-repeat;
                        background-position: center center;
                     }
                 }

                }
                }
             }
         }
      }

      .typeFaceInputBoxs{
         
          width: calc(100% - 24px);
          padding:0px 12px;
          height:37px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          background-color: #1E1E1F;
          gap:5px;

          input{
             
            &[type="checkbox"], &[type="radio"]{ display: none;}
            &[type="checkbox"]:checked + label, &[type="radio"]:checked + label{ 
               border: 1px solid #4C4C4C;
               background-image: linear-gradient(rgba(42, 42, 42, 0.3) 0%, rgba(80, 83, 80, 0.3) 100%);
               -webkit-background-image: linear-gradient(rgba(42, 42, 42, 0.3) 0%, rgba(80, 83, 80, 0.3) 100%);
            }
            &[type="checkbox"]:checked + label::before, &[type="radio"]:checked + label::before{ 
              filter: brightness(100);
              -webkit-filter: brightness(100);
            }

          }

          label{

             width: 52px;
             height: 27px;
             border-radius: 6px;
             border: 1px solid transparent;
             position: relative;

             &::before{

                content: "";
                width:100%;
                height:100%;
                position: absolute;
                left:0;
                top:0;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 15px 15px;
                
             }

          }

         &.typeFaceInputCheckBoxs{

             .typeTxtIcon01::before{
                background-image: url(/src/assets/media/toolsImg/typeface/horizontal.svg);
                -webkit-background-image: url(/src/assets/media/toolsImg/typeface/horizontal.svg);
             }
             .typeTxtIcon02::before{
                background-image: url(/src/assets/media/toolsImg/typeface/underline.svg);
                -webkit-background-image: url(/src/assets/media/toolsImg/typeface/underline.svg);
             }
             .typeTxtIcon03::before{
                background-image: url(/src/assets/media/toolsImg/typeface/bold.svg);
                -webkit-background-image: url(/src/assets/media/toolsImg/typeface/bold.svg);
             }
             .typeTxtIcon04::before{
                background-image: url(/src/assets/media/toolsImg/typeface/italic.svg);
                -webkit-background-image: url(/src/assets/media/toolsImg/typeface/italic.svg);
             }
             .typeTxtIcon05::before{
                background-image: url(/src/assets/media/toolsImg/typeface/strike.svg);
                -webkit-background-image: url(/src/assets/media/toolsImg/typeface/strike.svg);
             }
         }

         &.typeFaceInputRadioBoxs{

            .typeRadioIcon01::before{
               background-image: url(/src/assets/media/toolsImg/typeface/align-left.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/typeface/align-left.svg);
            }
            .typeRadioIcon02::before{
               background-image: url(/src/assets/media/toolsImg/typeface/align-center.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/typeface/align-center.svg);
            }
            .typeRadioIcon03::before{
               background-image: url(/src/assets/media/toolsImg/typeface/align-justify.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/typeface/align-justify.svg);
            }
            .typeRadioIcon04::before{
               background-image: url(/src/assets/media/toolsImg/typeface/align-right.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/typeface/align-right.svg);
            }
        }

      }

     }
    }
   }
  }

  .toolsScreenSection{

    width:100%;
    padding:10px 6px 43px 14px;
    height:calc(100% - 53px);
    margin:0 auto;

    .toolScreenBoxs{
       
      border:1px solid #686868;
      border-radius: 10px;
      opacity: 90%;
      width: 100%;
      height: 100%;
      position: relative;
      background-image: $dottedBackGradient;
      -webkit-background-image: $dottedBackGradient;
      &::before{
         content: "";
         width:100%;
         height:100%;
         position: absolute;
         top:0;
         left:0;
         background-image: url(/src/assets/media/dottedBack.svg);
         -webkit-background-image: url(/src/assets/media/dottedBack.svg);
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         opacity: 50%;

         
      }
      &::after{
         content: "";
         width:calc(100% / 2.59);
         height:1px;
         position: absolute;
         top:-1px;
         left:calc(100% / 3.2);
         background-image: $border-linear;
         -webkit-background-image: $border-linear;
          
      }
      
       .plusBtnBoxs{

            position: fixed;
            right:20px;
            bottom:60px;
            z-index:9999;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:8px;
            z-index:999;

           button{

             width: 34px;
             height: 33px;
             display: block;
             border: 1px solid #68686833;
             border-radius: 8px;
             background-image: linear-gradient(#7C737366 0%, #39393966 100%);
             -webkit-background-image: linear-gradient(#7C737366 0%, #39393966 100%);
             position: relative;

              &::after{

                 content: "";
                 position: absolute;
                 left:0;
                 top:0;
                 width: 100%;
                 height: 100%;
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: 30px 30px;
              }

              &:nth-child(1)::after{
               background-image: url(/src/assets/media/toolsImg/plus.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/plus.svg);
              }
              &:nth-child(2)::after{
               background-image: url(/src/assets/media/toolsImg/minus.svg);
               -webkit-background-image: url(/src/assets/media/toolsImg/minus.svg);
              }

           }
       }
    }
  }
 }
}
 }

 @include breakpoint(large){
   .toolsContentWrap {
      .toolsContentBoxs{
         .contentMainBoxs{
            .toolsOptionsSection{
               .listOptionsBox{
                  .listOptionsSpace{
                     .listTitlesBoxs{
                        .toolselectBoxsWrappers{
                           .toolListSelectWrap{
                              .toolListSelectBoxs.typefaceSelectBoxs01{

                                 max-width:146px;
                                 width:100%;
                              }
                           }
                        }
                     }
                  }

                  .listOptionsSpace.optionSpace{
                     .positionBoxs{
                        ul{
                           li{
                              input[type=text]{
                                 max-width:52px;
                              }
                              span{ font-size: 1vw;}
                           }
                        }
                     }
                     .iconArrayBoxs{
                        ul{
                           gap:18px 10px;
                           li{
                              button{ width: 40px; height: 40px; border-radius: 8px;}
                              em{ font-size: 0.8vw;}
                           }
                        }
                     } 
                     .styleControlBoxs{
                        .styleBoxs{
                           ul{
                              li{
                                 gap:5px;
                                 span{ font-size: 0.8vw;}
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
 }
  }