<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" /> -->
   <link rel="stylesheet" href="/iss/src/assets/css/style.css">
   <title>S&S Cruiser</title>
</head>
<body>
   <div class="navigationWrappers"></div>
   <div class="headerWrappers"></div>
   <div id="copyStateWrappers">
      <div class="copyStateContentWrap resizeWidth">
         <div class="copyStateContBoxs">
           <section class="copyBoxs">
              <div class="copyBoxsTitles">
                <h3>NODE 01</h3>
              </div>
              <article class="storageBoxWrappers">
                <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-yellow"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-purple"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-lightGreen"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-deepPurple"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
                <div class="storageBox storage-green">
                  <div class="storageBoxTitles title-green">
                     <h3 class="stor-green">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-yellow"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-purple"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-lightGreen"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-deepPurple"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
                <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
                <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
               </article>
           </section>
           <section class="copyBoxs">
              <div class="copyBoxsTitles">
                <h3>NODE 02</h3>
              </div>
              <article class="storageBoxWrappers">
               <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
                <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
              </article>
           </section>
           <section class="copyBoxs">
              <div class="copyBoxsTitles"></div>
              <article class="storageBoxWrappers">
                <div class="storageBox storage-blue">
                  <div class="storageBoxTitles title-blue">
                     <h3 class="stor-blue">스토리지 #001535</h3>
                     </div> 
                  <div class="storageBoxDatas">
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                     <ul>
                        <li class="data-blue"><p>11</p></li>
                        <li class="data-blue"><p>10</p></li>
                        <li class="data-blue"><p>25GB</p></li>
                        <li class="data-blue"><p>RX-29231</p></li>
                     </ul>
                  </div>
                </div>
              </article>
           </section>
          <div class="copyStateInfoBoxs">
              <div class="copyStateInfoBoxsTitleBoxs">
                 <h3>스토리지 상세 정보</h3>
              </div>
              <div class="copyStateInfoDatas">
                 <ul>
                    <li><p>스토리지명</p><span>Hitachi-91</span></li>
                    <li><p>모델명</p><span>RX29231</span></li>
                    <li><p>IP 주소</p><span>192.0.51</span></li>
                    <li><p>MAC 주소</p><span>00-70-57-A0-00-09</span></li>
                 </ul>
              </div>
          </div>
          <div class="plusBtnBoxs">
            <button type="button"></button>
            <button type="button"></button>
          </div>
         </div>
          <div class="copyAddMenus">
              <div class="copyAddBtns">
               <button class="copyHiddenBtn"></button>
             </div>
             <section class="copyHiddenMenus">
                 <div class="copyHiddenMenusWrap">
                     <h3>대시보드 카드 추가 메뉴</h3>
                     <ul class="copyRadioBoxs">
                        <li><input type="radio" id="copyRadio01" name="copyHiddenRadio"><label for="copyRadio01"><em></em><span>스토리지 상세정보</span></label></li>
                        <li><input type="radio" id="copyRadio02" name="copyHiddenRadio"><label for="copyRadio02"><em></em><span>네트워크 상세정보</span></label></li>
                     </ul>
                 </div>
               </section>
          </div>
      </div>
   </div>
   <div class="bottomMenuWrappers"></div>
   <script type="module" src="/iss/index.js"></script>
   <script src="/iss/src/js/copyState.js"></script>
</body>
</html>